@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-roulette {
  --tw-gradient-stops: #FFFB7D 0%, rgba(255,255,255,0) 100%;
  background-color: #85FFBD;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, var(--tw-gradient-stops));
}

.bg-default {
  --tw-gradient-stops: rgba(119, 197, 198, 0.3) 0%, rgba(255,255,255,0) 100%;
  background-color: #21292c;
  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, var(--tw-gradient-stops));
}

.bg-color {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hover-white, .hover-dark {
  transition: color 0.3s ease;
}

.hover-white {
  color: #f8f9fa;
}

.hover-white:hover {
  color: #cacaca;
}

.hover-dark {
  color: rgb(33, 37, 41);
}

.hover-dark:hover {
  color: rgb(58, 65, 71);
}

.wheel-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .wheel-container {
    width: 100%;
    margin: 0 auto; 
  }
  
  .wheel {
    width: 100%; 
    max-width: 445px;
    height: 100vw;
    max-height: 445px;
  }

  .div-mb {
    display:inline-block;
    padding:0px;
    margin-bottom:-20px;
  }

  .nav-pt {
    padding-top: 0px;
  }
}

.test {
  color: (120,119,198,0.3)
}

.logo-svg {
  width: 100px;
  height: 38px;
  margin-top: 0; /* Elimina el margen superior */
  padding: 0; /* Elimina el relleno */
}

@media screen and (max-width: 768px) {
  .logo-svg {
    width: 50px;
    height: 50px;
    margin-left: 25px;
  }
}

.dropdown-toggle::after {
  display: none !important; 
}

.hide-toggle-background .dropdown-toggle::before {
  display: none;
}

/*sidebar*/ 
.primary-text {
  color: #1c3845;
}

.second-text {
  color: #bbbec5;
}

.primary-bg {
  background-color: #00719d;
}

.secondary-bg {
  background-color: #c1efde;
}

.rounded-full {
  border-radius: 100%;
}

.bg-sidebar {

  background-color: #1c3845;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

input:checked ~ .dot {
  transform: translateX(100%);
  /* background-color: #132b50; */
}
